* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#backNav {
    font-size: 20px;
    position: absolute;
    top: 180px;
    color: #5133ff;
    cursor: pointer;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(200deg, #f3e7e9, #e3eeff);
}

.container {
    width: 10rem;
    height: 5.2rem;
    /* transform: scale(1.25); */
}

.profile {
    float: left;
    width: 2.8rem;
    height: 100%;
    position: relative;
}

.profile .avatar {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    width: 1.57rem;
    height: 1.57rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 .06rem .23rem 0 rgba(152, 183, 228, 1);
}

.profile .avatar img {
    display: none;

}

.profile .avatar .active_img {
    display: block;
    height: 100%;
}

.profile .card {
    width: 100%;
    height: 4.4rem;
    position: absolute;
    top: .85rem;
    border-radius: .1rem;
    background-color: #fff;
    box-shadow: 0rem .02rem .04rem 0rem rgba(0, 0, 0, 0.25);
}

.profile .card .info {
    width: 100%;
    height: 1rem;
    position: absolute;
    top: .95rem;
    text-align: center;
    /* background-color: cadetblue; */
}

.profile .card h2,
.skill h2,
.intro h2 {
    font-size: 24px;
    letter-spacing: 2px;
    color: rgba(81, 51, 255, 1);
}

.profile .card .info p {
    font-size: 14px;
    line-height: .27rem;
}

.profile .card .info i {
    font-size: 27px;
    vertical-align: bottom;
}

.profile .card .data {
    width: 100%;
    position: absolute;
    top: 2.1rem;
}

.profile .card .data ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.profile .card .data li {
    width: 80px;
    height: 100%;
}

.profile .card .data h2 {
    color: #000;
    height: .28rem;
    line-height: .28rem;
}

.profile .card .data p {
    margin-top: .08rem;
    font-size: 12px;
}

.profile .card .quickurl {
    width: 100%;
    position: absolute;
    top: 2.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
}

.profile .card .quickurl .circle {
    width: .45rem;
    height: .45rem;
    opacity: 1;
    background: rgba(83, 89, 94, 1);
    border-radius: 50%;
    text-align: center;
    transition: all .3s ease;
    box-shadow: 0rem .08rem .1rem 0rem rgba(83, 89, 94, 0.25);
}

.profile .card .quickurl .bilibili {
    background: rgba(32, 176, 227, 1);
    box-shadow: 0rem .08rem .1rem 0rem rgba(32, 176, 227, 0.5);
}

.profile .card .quickurl .codepen {
    background: rgba(60, 70, 80, 1);
    box-shadow: 0rem .08rem .1rem 0rem rgba(60, 70, 80, 0.25);
}

.profile .card .quickurl a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.profile .card .quickurl i {
    font-size: 35px;
    line-height: .45rem;
    vertical-align: bottom;
}

.profile .card .quickurl .bilibili i {
    font-size: 27px;
}

.profile .card button {
    width: 1.8rem;
    height: .35rem;
    position: absolute;
    top: 3.7rem;
    left: .47rem;
    border-radius: .9rem;
    line-height: .35rem;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(25, 153, 235, 0.9) 0%, rgba(17, 122, 208, 1) 100%);
    box-shadow: 0px 4px 10px 0px rgba(32, 176, 227, 0.25);
    border: none;
    color: #fff;
    font-weight: 700;
    transition: all .3s ease;
}

.profile .card button:hover,
.circle:hover {
    transform: scale(1.05);
}

.skill,
.intro {
    float: right;
    width: 6.25rem;
    height: 205px;
    font-size: 18px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.skill {
    margin-top: 85px;
}

.skill h2,
.intro h2 {
    margin-top: 17px;
    margin-left: 25px;
}

.skill .Skill-cir {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.skill .Skill-cir li {
    text-align: center;
}

.skill .Skill-cir li p {
    margin-top: 5px;
}

.skill .Skill-cir li:nth-child(1) .percentRing-tmp2 {
    transform: rotate(160deg);
}

.skill .Skill-cir li:nth-child(2) .percentRing-tmp2 {
    transform: rotate(66deg);
}

.skill .Skill-cir li:nth-child(3) .percentRing-tmp2 {
    transform: rotate(8deg);
}

.skill .Skill-cir li:nth-child(4) .percentRing-tmp2 {
    transform: rotate(36deg);
}

.intro {
    height: 215px;
    margin-top: 20px;

}

.intro .textAboutMe {
    text-align: center;
}

.textAboutMe p {
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 2px;
    margin-top: -2px;
}

.profile {
    animation: openprofile .3s linear;
}

@keyframes openprofile {
    0% {
        width: 5px;
        overflow: hidden;
    }

    50% {
        width: 1.4rem;
        overflow: hidden;
    }

    100% {
        width: 2.85rem;
    }
}

.skill {
    animation: openskill .3s linear;
}

.intro {
    animation: open .6s linear;
}

@keyframes openskill {
    0% {
        opacity: 0;
        width: 1rem;
        overflow: hidden;
    }

    25% {
        width: 2rem;
        overflow: hidden;
    }

    50% {
        width: 3rem;
        overflow: hidden;
    }

    75% {
        width: 4rem;
        overflow: hidden;
    }

    100% {
        width: 6.25rem;
        overflow: hidden;
    }
}

@keyframes open {
    0% {
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    50% {
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    100% {
        opacity: 1;
        width: 6.25rem;
        overflow: hidden;
    }
}